.about .container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  animation: fadeAnimation 1s;
}
.container .founderImage {
  width: 300px;
  border-radius: 10px;
}
.container .founderText {
  width: 50%;
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
.container .founderText .socialLinks {
  margin-top: 10px;
  display: flex;
  gap: 3px;
  a {
    text-decoration: none;
    color: black;

    i {
      font-size: 1.2rem;
    }
  }
  a:hover {
    color: orange;
  }
}
