@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

.menu .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: var(--section-padding) 0;
}

@media screen and (max-width: 800px) {
  .menu .container {
    grid-template-columns: 1fr;
  }
  .mealCard {
    flex-direction: column;
    height: 380px !important;
  }
  .mealCard .mealImage {
    display: none;
  }
}
.mealCard {
  display: flex;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation-name: fadeAnimation;
}

.mealCard .mealText {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.mealText .mealName {
  font-size: clamp(1.8rem, 1.5vw, 2rem);
  color: var(--primary-color);
  padding-top: 1rem;
}

.mealText .mealRating {
  padding-top: 0.3rem;
}
.mealText .mealRating i {
  color: silver;
}
.mealText .mealRating i.bright {
  color: #ffd33b;
}
.mealText .mealDescription {
  font-size: clamp(16px, 1vw, 20px);
  padding-top: 1rem;
  color: #323232;
}

.mealCard .mealPrice {
  font-size: clamp(2rem, 0.5vw, 3rem);
  /* padding: rem 0; */
  margin-top: auto;
  font-family: "Boldonse", system-ui;
  color: var(--primary-color);
}

.mealCard .mealOrderButton {
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.5rem;
  padding: 15px 10px;
  border: solid 1px var(--primary-color);
  width: fit-content;
  margin-top: auto;
  transition: 300ms ease;
}

.mealOrderButton i {
  font-size: 1.3rem;
}
.mealOrderButton:hover {
  background-color: var(--primary-color);
  color: white;
}
.mealCard .mealImage {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
